.busca-algo{
    border: 1px solid #ffffff;
    border-radius: 0;
  }
  
  .boton-busca-algo{
    color: white;
    background: transparent;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #ffffff;
    margin-left: -6px;
    font-family: 'Montserrat',serif;
  }
  
  .blog {
    background-color: #ffffff;
    max-width: unset;
    padding: 5% 10%;
  }

    .blog .title {
        font-family: "Alegreya", serif;
        color: #ffffff;
    }
  
    .blog .process-list {
      margin-top: 40px;
      margin-bottom: 36px;
    }
    .blog .process-list  .process {
        margin-bottom: 25px;
    }

    .blog .process-list .process div h3{
        color: #ffffff;
        margin-bottom: 0;
        font-size: 30px;
        font-weight: 500;
    }

    .blog .process-list .process div p{
        color: #ffffff;
        margin: 0;
    }

    .blog .process-list .process .process-icon{
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;
    }

    .blog .process-list .process .process-icon img{
        height: 100%;
    }
  
    .blog .card-title {
      font-size: 24px;
      color: #4a4a4a;
    }

    .blog .card-text {
      color: #4a4a4a;
      font-size: 18px;
      line-height: 1.5em;
      min-height: 6em;
    }
  
    .card-text .read-more a {
        text-decoration: underline;
        cursor: pointer;
    }
  
    .blog .author img{
      
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }
  
    .blog .author p {
        margin-left: 8px;
        font-weight: 600;
        font-size: 14px;
        color: #4a4a4a;
    }